.dashboard{
    display: flex;
    background-color: #F7F7F7;
    
}

.left__sidebar__dashboard{
    padding-top: 40px;
    flex: 0.2;
    position: fixed;
    box-shadow: 0px 5px 22px -13px grey;
    height: 100vh;
    width: 200px;
    background-color: white;
    
}

.main__body__dashboard{
    flex: 1;
    margin-left: 200px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.right__sidebar__dashboard{
    flex: 0.2;
    
    
}

.Checkbtn{
    color: blue;

}
.Checkbtn:hover{
    color:green;
}

.appointment {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 50px;
    max-width: 90%px;
    padding: 30px;
  }
  
  .label {
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    text-shadow: 1px 1px 2px #ccc;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
  
  }
  
  .span{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    transition: all 0.7s ease-in-out;
  }
  
  .span:hover{
    color: #000000;
    font-size: 25px;
    cursor: pointer;
  }

@media screen and (max-width: 768px) {
    .left__sidebar__dashboard{
       display: none;
       flex: 0;
      
        
    }
    .main__body__dashboard{
        flex: 1;
        margin-left: 0px;
        margin-right: 0px;
    }
    .right__sidebar__dashboard{
        flex: 1;
        
        
    }
    
}
